{% macro show_stories(stories) %}
  {% for story in stories %}
  <h2><a href="{{ story.url }}">{{story.title }}</a></h2>
  <p>{{ story.description }}
  <ul>
  <li>Chapters: {{ story.chapters }}</li>
  <li>Words: {{ story.words }}</li>
  </ul>
  {% endfor %}
{% endmacro %}

<!doctype html>

<title>{% block title %}My Application{% endblock %}</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block header %}
{% endblock %}
{% block body %}{% endblock %}